In [1]:
import pandas as pd

In [14]:
s = pd.Series([1, 2, 3, 4, 5], index=["a", "b" ,"c", "d", "e"])
index = s.index
print(type(index))
print(index)
print(s.values)

<class 'pandas.core.indexes.base.Index'>
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
[1 2 3 4 5]

In [17]:
s.name="data"
s.head().to_frame()

   data
a     1
b     2
c     3
d     4
e     5

In [38]:
import numpy as np
np.random.seed(42)
arr = np.random.randint(50, 101, 10)
print(arr)
s = pd.Series(arr, index=['student' + str(i) for i in range(1, 11)])
print(s)

print(s.mean())
print(s.max())
print(s.min())
print(s[s>73.7].size)

[88 78 64 92 57 70 88 68 72 60]
student1     88
student2     78
student3     64
student4     92
student5     57
student6     70
student7     88
student8     68
student9     72
student10    60
dtype: int32
73.7
92
57
4

In [52]:
t = pd.Series([28, 31, 29, 32, 30, 27, 33],
index=[1, 2, 3, 4, 5, 6, 7]
)
print(t[t>30].size)
print(t.mean())
print(t.sort_values(ascending=False))
print(t)

print(t.var())

t1 = t.diff()
nt1 = t1.drop_duplicates().abs()
snt1 = nt1.sort_values(ascending=False)

print(snt1.keys()[:2].tolist())

3
30.0
7    33
4    32
2    31
5    30
3    29
1    28
6    27
dtype: int64
1    28
2    31
3    29
4    32
5    30
6    27
7    33
dtype: int64
4.666666666666667
[7, 2]

In [63]:
s = pd.Series([102.3, 103.5, 105.1, 104.8, 106.2, 107.0, 106.5, 108.1, 109.3, 110.2], index=pd.date_range('2023-01-01', periods=10))
print(s)

s1 = s.pct_change()
print(s1)

print(s.idxmax)
print(s.idxmin)
# print(s.keys()[s.argmax()])
# print(s.keys()[s.argmin()])
print(s1.std())

2023-01-01    102.3
2023-01-02    103.5
2023-01-03    105.1
2023-01-04    104.8
2023-01-05    106.2
2023-01-06    107.0
2023-01-07    106.5
2023-01-08    108.1
2023-01-09    109.3
2023-01-10    110.2
Freq: D, dtype: float64
2023-01-01         NaN
2023-01-02    0.011730
2023-01-03    0.015459
2023-01-04   -0.002854
2023-01-05    0.013359
2023-01-06    0.007533
2023-01-07   -0.004673
2023-01-08    0.015023
2023-01-09    0.011101
2023-01-10    0.008234
Freq: D, dtype: float64
<bound method Series.idxmax of 2023-01-01    102.3
2023-01-02    103.5
2023-01-03    105.1
2023-01-04    104.8
2023-01-05    106.2
2023-01-06    107.0
2023-01-07    106.5
2023-01-08    108.1
2023-01-09    109.3
2023-01-10    110.2
Freq: D, dtype: float64>
<bound method Series.idxmin of 2023-01-01    102.3
2023-01-02    103.5
2023-01-03    105.1
2023-01-04    104.8
2023-01-05    106.2
2023-01-06    107.0
2023-01-07    106.5
2023-01-08    108.1
2023-01-09    109.3
2023-01-10    110.2
Freq: D, dtype: float64>
2023-01-10 00:00:00
2023-01-01 00:00:00
0.007373623845361105

In [89]:
s = pd.Series([120, 135, 145, 160, 155, 170, 180, 175, 190, 200, 210, 220], index=pd.date_range('2022-01-01', periods=12, freq='MS'))

s1 = s.resample('QS').mean()
print(s1)
print(s.idxmax())
a = s.pct_change()
b = a>0
c = b[b.rolling(3).sum()==3]
print(c.keys())

2022-01-01    133.333333
2022-04-01    161.666667
2022-07-01    181.666667
2022-10-01    210.000000
Freq: QS-JAN, dtype: float64
2022-12-01 00:00:00
DatetimeIndex(['2022-04-01', '2022-11-01', '2022-12-01'], dtype='datetime64[ns]', freq=None)

In [120]:
np.random.seed(42)
s = pd.Series(np.random.randint(0, 100, 24), 
              index=pd.date_range('2025-01-01', periods=24, freq='h'))
# print(s)
oneday = s.resample('D').sum()
print(oneday)



# a = s.iloc[:8].sum()
# b = s.iloc[8:22].sum()
b = s.between_time('8:00', '22:00').sum()
# c = s.iloc[22:24].sum()
# print(a)
# print(b)
# print(c)
print("-----------------")
print(b/(oneday-b))

print(s.nlargest(3))
print(s.sort_values(ascending=False).head(3).keys().tolist())

2025-01-01    1205
Freq: D, dtype: int32
-----------------
2025-01-01    1.429435
Freq: D, dtype: float64
2025-01-01 11:00:00    99
2025-01-01 01:00:00    92
2025-01-01 10:00:00    87
dtype: int32
[Timestamp('2025-01-01 11:00:00'), Timestamp('2025-01-01 01:00:00'), Timestamp('2025-01-01 10:00:00')]